<!--<div class="container" >-->
    <h1>Contacto</h1>
    <h2 #title>Choose Brand Colors:</h2>
    <div id="texto" textos>
        <p appResaltado >
            Esta es la pagina de contacto puedes enviarnos cualquier duda.
        </p>
    </div>
    <!--
    Tamaño del slider
    <input type="text" [(ngModel)]="withSlider"/>

    <button (click)="cargarSlider()">Cargar</button>
    <button (click)="recargarSlider()">Resetear</button>

        <div *ngIf="anchuraToSlider">
            <slider [anchura]="anchuraToSlider"
                    [etiquetas]="captions"
                    (conseguirAutor)="getAutor($event)"></slider>
        </div>
        <div *ngIf="autor">
            {{autor.nombre+" "+ autor.websito+ " "+autor.youtube}}
        </div>  
        -->
<!--</div>-->