<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about"> 
    <h2>sobre mi</h2>
    
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Proin eu augue lacus. Etiam non neque nisl. Curabitur hendrerit, 
    enim eu dapibus sodales, metus augue euismod tortor, sed pretium 
    tortor arcu eget ante. Nullam quis orci a leo volutpat tristique. 
    Etiam non tempor erat. In sit amet ipsum rutrum, pellentesque orci ut, 
    eleifend leo. Donec scelerisque placerat sapien ut lacinia. 
    Proin rutrum facilisis nisl sed placerat. Praesent euismod erat in 
    consectetur luctus.
    </p>
</article>
